<%- include('partials/header.ejs') %>

    <div class="bg-custom-orange flex flex-col mt-2 h-screen">
        <div class="font-serif flex justify-center font-bold text-2xl py-1.5">
            <h2>BUILDINGS</h2>
        </div>
        <div class="bg-custom-yellow m-2 mt-0 h-screen rounded-xl flex items-center justify-center">
            <div class="flex text-center justify-center w-3/4 ">
                <p class="text-slate-500">There are no portions added yet, press the ADD icon to add a Portion.</p>
            </div>
        </div>
    </div>
    <div class="absolute bottom-0 left-1/2 -translate-x-1/2">
        <button class="text-custom-red font-semibold border-custom-red py-2 px-4 border-2 rounded-lg hover:bg-custom-red hover:text-white">
            ADD
        </button>
    </div>

<%- include('partials/footer.ejs') %>