<%- include('partials/header.ejs') %>

    <div class="bg-custom-orange flex flex-col mt-2 h-screen">
        <div class="font-serif flex justify-center font-bold text-2xl py-1.5">
            <h2>CLIENTS</h2>
        </div>
        <div class="flex flex-col bg-custom-yellow m-2 mt-0 h-screen rounded-xl">
            <div class="flex justify-center m-4 gap-6">
                <button class="p-3 text-custom-red font-semibold border-custom-red py-2 px-4 border-2 rounded-lg hover:bg-custom-red hover:text-white ">CLIENT ADHAAR</button>
                <button class="p-3 text-custom-red font-semibold border-custom-red py-2 px-4 border-2 rounded-lg hover:bg-custom-red hover:text-white">CLIENT PHOTO</button>
            </div>
            <div class="flex text-center justify-center h-full items-center mb-5">
                <p class="text-slate-500 w-3/4">There are no Buildings of this Owner yet, press the ADD icon to add a Building.</p>
            </div>
        </div>
    </div>
    <div class="absolute bottom-0 left-1/2 -translate-x-1/2">
        <button class="text-custom-red font-semibold border-custom-red py-2 px-4 border-2 rounded-lg hover:bg-custom-red hover:text-white">
            ADD
        </button>
    </div>

<%- include('partials/footer.ejs') %>