<%- include('partials/header.ejs') %>

    <div class="bg-custom-orange flex flex-col mt-2 h-screen">
        <div class="font-serif flex justify-center font-bold text-2xl py-1.5">
            <h2>PORTION</h2>
        </div>
        <div class="bg-custom-yellow text-xl m-2 p-4 mt-0 h-screen rounded-xl flex flex-col">
            <div>
                <p class="px-2">Portion No</p>
                <div class="border-2 px-2 py-1 mb-2 border-custom-red rounded-lg">h</div>
            </div>
            <div>
                <p class="px-2">Current Light Bill</p>
                <div class="border-2 px-2 py-1 mb-2 border-custom-red rounded-lg">h</div>
            </div>
            <div>
                <p class="px-2">Current Tenant</p>
                <div class="border-2 px-2 py-1 mb-2 border-custom-red rounded-lg">h</div>
            </div>
            <div>
                <p class="px-2">Current Tenant Mobile Number</p>
                <div class="border-2 px-2 py-1 mb-2 border-custom-red rounded-lg">h</div>
            </div>
            <div>
                <p class="px-2">Current Rent</p>
                <div class="border-2 px-2 py-1 mb-2 border-custom-red rounded-lg">h</div>
            </div>
            <div>
                <p class="px-2">Start Date</p>
                <div class="border-2 px-2 py-1 mb-2 border-custom-red rounded-lg">h</div>
            </div>

            <div class="buttons flex mt-4 flex-col gap-2">
                <button class="text-custom-red font-semibold border-custom-red py-2 px-4 border-2 rounded-lg hover:bg-custom-red hover:text-white">TENANT ADHAAR</button>
                <button class="text-custom-red font-semibold border-custom-red py-2 px-4 border-2 rounded-lg hover:bg-custom-red hover:text-white">TENANT PHOTO</button>
            </div>
        </div>
    </div>
    <div class="absolute bottom-0 left-1/2 -translate-x-1/2">
        <button class="text-slate-700 font-semibold border-slate-700 py-2 px-4 border-2 rounded-lg hover:bg-slate-700 hover:text-white">
            ACCOUNTS
        </button>
    </div>

<%- include('partials/footer.ejs') %>